@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  --bgday: url('/src/assets/daybg.jpg');
  --bgnight: url('/src/assets/nightbg.jpg');

  margin:0;
  font-family: Roboto;
}
.bg-day{
  background: var(--bgday);
  background-size: 100vw 100vh;
}
.bg-night{
  background: var(--bgnight);
  background-size: 100vw 100vh;

}
.div-main{
  background-color: darkgrey;
  display: block;
  min-width: 100vw;
  min-height: 100vh;
  
}