@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  --bgday: url('/src/assets/lightsvg.svg');
  --bgnight: url('/src/assets/darksvg.svg');
  --bgcolornight: #0C1014;

  margin:0;
  font-family: Roboto;
}
.bg-day{
  background: var(--bgday);
  /* background-size: 100vw 100vh; */
  background-color: var(--bgcolornight);
}
.bg-night{
  background: var(--bgnight);
  background-color: var(--bgcolornight);
  /* background-size: 100vw 100vh; */

}
.div-main{
  
  display: block;
  min-width: 100vw;
  min-height: 100vh;
  
}